header {
    /* background-color: rgb(186, 150, 102); */
    /* width: 50%; */
    background-image: url("faijur.jpg");
    background-size: cover;
    margin: 20px;

    border: 10px solid rgb(216, 171, 113);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(104, 82, 82);
}
.rayhan {
    border: 5px solid tomato;
    border-radius: 10px;
    box-shadow: 10px 10px 10px beige;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    text-align: center;
}